<header class="header">
    <div class="header__container">
      <a href="/"
        ><img src="assets/headerLogo.png" alt="Header Logo" class="header__logo"
      /></a>
      <nav class="header__topNavigation">
        <a href="/filmer" class="header__link">Filmer</a>
        <a href="/aboutUs" class="header__link">Om oss</a>
        <a href="/newsEvents" class="header__link">Nyheter</a>
      </nav>
      <img src="/assets/hamburgerButtonOpen.png" class="header__hamburgerButtonOpen" />
    </div>
    <nav class="header__hamburgerMenuContainer">
      <div class="header__hamburgerMenu">
        <a href="/filmer" class="header__hamburgerLink">Filmer</a>
        <a href="/aboutUs" class="header__hamburgerLink">Om oss</a>
        <a href="/newsEvents" class="header__hamburgerLink">Nyheter</a>
        <img
          src="/assets/hamburgerButtonClose.png"
          class="header__hamburgerCloseButton"
          alt="Hamburger menu close button"
        />
      </div>
    </nav>
  </header>